<jsv-content>
    <ul id="exampleMenuBottom" class="bgGrey cYellow row">
        <li onclick="$JSView.actionMenu('viewMenuA')" class="col">Menu A</li>
        <li onclick="$JSView.actionMenu('viewMenuB')" class="col">Menu B</li>
        <li onclick="$JSView.actionMenu('viewMenuC')" class="col">Menu C</li>
        <li onclick="$JSView.actionMenu('viewMenuD')" class="col">Menu D</li>
        <li onclick="$JSView.actionMenu('viewMenuE')" class="col">Menu E</li>
    </ul>
</jsv-content>

<style>
    #exampleMenuBottom{
        margin: 0;
        padding: 0}
    #exampleMenuBottom li{
        text-align: center}
</style>