<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
    <label class="item"><input type="text" placeholder="Name"></label>
    <label class="item"><input type="text" placeholder="Surname"></label>
    <label class="item"><input type="tel" placeholder="Tel"></label>
    <label class="item"><input type="url" placeholder="Web"></label>
    <label class="item"><textarea placeholder="Position"></textarea></label>
    <button class="bgYellow">Button</button>
</jsv-content>