<jsv-header>
    <button-header-left onclick="$JSView.actionMenu()">M</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="paddingFull10">
    <h1>Welcome to JSView</h1>
    <h3>The most simple library to create views in your App.</h3>
    <h2>What?</h2>
    <p>JavasScriptView is a small library that wants to make life easier for the mobile application developer.</p>
<p>This library is focused on the development of JavaScript applications using the framework Cordova / Phonegap.</p><p>
JavaScriptView lets you manage different views of your mobile application. Through a simple MVC structure, you can create dynamic views in your application and manage elements in the DOM asynchronously.</p>
    <h2>Thanks!</h2>
</jsv-content>