<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
    <jsv-list>
        <ul>
            <li class="divider cGrey strong">Group options</li>
            <li>Option</li>
            <li>Option</li>
            <li>Option</li>
            <li>Option</li>
            <li>Option</li>
            <li class="divider cGrey strong">Group options</li>
            <li>Option</li>
            <li>Option</li>
            <li>Option</li>
            <li>Option</li>
            <li class="divider cGrey strong">Group options</li>
            <li>Option</li>
            <li>Option</li>
            <li>Option</li>
            <li>Option</li>
            <li>Option</li>
            <li>Option</li>
        </ul>
    </jsv-list>
</jsv-content>