<jsv-header>
    <button-header-right><div class="photo"></div></button-header-right>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    {{title}}
</jsv-header>
<jsv-content>
    <jsv-room>
        <ul>
            <li class="item left">
                <p>Lorem ipsum dolor sit amet.</p><div class="date">11:00</div>
            </li>
            <li class="item right">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><div class="date">11:05</div>
            </li>
        </ul>
    </jsv-room>
    <jsv-room-input class="bgGrey"><label class="item"><input type="text"></label><button class="cYellow">Send</button></jsv-room-input>
</jsv-content>