<jsv-header>
    <button-header-right></button-header-right>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    {{title}}
</jsv-header>
<jsv-content>
    <h1 class="paddingFull10">View B</h1>
    
    <div class="row">
        <div class="col colDemo">.col</div>
        <div class="col colDemo">.col</div>
        <div class="col colDemo">.col</div>
        <div class="col colDemo">.col</div>
    </div>
    
    <div class="row">
        <div class="col colDemo">.col</div>
        <div class="col colDemo">.col</div>
    </div>
    
    <div class="row">
        <div class="col colDemo">.col</div>
    </div>
    
</jsv-content>