<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-refresh></jsv-refresh>
<jsv-content class="paddingFull10">        
 <jsv-list class="video-list">
        <jsv-item class="item">
            <div class="video">
                <img src= {{video}} />
            </div>
            <div class="data">
                <h4>{{text}}</h4>
                <p>{{url}}</p>
            </div>
        </jsv-item>
 </jsv-list>    
</jsv-content>