<jsv-header class="jsv-no-border">
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-tabs>
    <jsv-tab class="active">Tab A</jsv-tab>
    <jsv-tab>Tab B</jsv-tab>
    <jsv-tab>Tab C</jsv-tab>
</jsv-tabs>
<jsv-content class="has-tabs">
    
    <jsv-tab class="active JSVcontainerCenter JSVcontainerTransition">
        <h1 class="paddingFull10">**DEVELOPING** Content Tab A</h1>
    </jsv-tab>
    
    <jsv-tab class="JSVcontainerRight JSVcontainerTransition">
        <h1 class="paddingFull10">**DEVELOPING** TESTING Content Tab B</h1>
    </jsv-tab>
    
    <jsv-tab class="JSVcontainerRight JSVcontainerTransition">
        <h1 class="paddingFull10">**DEVELOPING** TESTING Content Tab A</h1>
    </jsv-tab>
    
</jsv-content>