<jsv-header>
    <button-header-left onclick="$JSView.actionMenu()">M</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
    <jsv-list>
        <ul>
            <li class="divider cGrey strong">Title Options 1</li-header>
            <li onclick="$JSView.goToView('viewA')">Forms</li>
            <li onclick="$JSView.goToView('viewB')">Grid</li>
            <li onclick="$JSView.goToView('viewC')">Slide</li>
            <li onclick="$JSView.goToView('viewD')">Room</li>
            <li onclick="$JSView.goToView('viewE')">Tabs</li>
            <li onclick="$JSView.goToView('viewF')">List Photo Items Local JSON / **Developing**</li>
            <li onclick="$JSView.goToView('viewG')">List Photo Items Remote JSON</li>
            <li class="divider cGrey strong">Title Options 2</li-header>
            <li>Option 6</li>
            <li>Option 7</li>
            <li>Option 8</li>
            <li>Option 9</li>
            <li>Option 10</li>
            <li class="divider cGrey strong">Title Options 3</li-header>
            <li>Option 11</li>
            <li>Option 12</li>
            <li>Option 13</li>
            <li>Option 14</li>
            <li>Option 15</li>
            <li class="divider cGrey strong">Title Options 4</li-header>
            <li>Option 16</li>
            <li>Option 17</li>
            <li>Option 18</li>
            <li>Option 19</li>
            <li>Option 20</li>
        </ul>
    </jsv-list>
</jsv-content>