<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
    <jsv-reload></jsv-reload>
    <jsv-list class="photo-list">
        <jsv-item onclick="$JSView.goToView('viewD')" class="item">
            <div class="photo"></div>
            <h3>Option 1</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </jsv-item>
        <jsv-item onclick="$JSView.goToView('viewD')" class="item">
            <div class="photo"></div>
            <h3>Option 2</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </jsv-item>
        <jsv-item onclick="$JSView.goToView('viewD')" class="item">
            <div class="photo"></div>
            <h3>Option 3</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </jsv-item>
        <jsv-item onclick="$JSView.goToView('viewD')" class="item">
            <div class="photo"></div>
            <h3>Option 4</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </jsv-item>
        <jsv-item onclick="$JSView.goToView('viewD')" class="item">
            <div class="photo"></div>
            <h3>Option 5</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </jsv-item>
        <jsv-item onclick="$JSView.goToView('viewD')" class="item">
            <div class="photo"></div>
            <h3>Option 6</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </jsv-item>
        <jsv-item onclick="$JSView.goToView('viewD')" class="item">
            <div class="photo"></div>
            <h3>Option 7</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </jsv-item>
        <jsv-item onclick="$JSView.goToView('viewD')" class="item">
            <div class="photo"></div>
            <h3>Option 8</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </jsv-item>
        <jsv-item onclick="$JSView.goToView('viewD')" class="item">
            <div class="photo"></div>
            <h3>Option 9</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </jsv-item>
        <jsv-item onclick="$JSView.goToView('viewD')" class="item">
            <div class="photo"></div>
            <h3>Option 10</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </jsv-item>
    </jsv-list>
    <jsv-loadmore></jsv-loadmore>
</jsv-content>