<jsv-header>
    <button-header-left onclick="$JSView.actionMenu()">M</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
    <jsv-list class="card-list">
        <jsv-item class="item">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </jsv-item>
        <jsv-item class="item">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <div class="tools row">
                <div class="col">Opt 1</div>
                <div class="col">Opt 2</div>
                <div class="col">Opt 3</div>
                <div class="col">Opt 4</div>
            </div>
        </jsv-item>
        <jsv-item class="item">
            <div class="photo"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <div class="tools row">
                <div class="col">Opt 1</div>
                <div class="col">Opt 2</div>
                <div class="col">Opt 3</div>
                <div class="col">Opt 4</div>
            </div>
        </jsv-item>
        <jsv-item class="item">
            <h3>Title</h3>
            <div class="photo"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <div class="tools row">
                <div class="col">Opt 1</div>
                <div class="col">Opt 2</div>
                <div class="col">Opt 3</div>
                <div class="col">Opt 4</div>
            </div>
        </jsv-item>
    </jsv-list>
</jsv-content>