<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
    <form id="formExample">
        <label><placeholder>First name</placeholder><input id="name" type="text" placeholder="First Name"></label>
        <label><placeholder>Last name</placeholder><input type="text" placeholder="Last Name"></label>
        <label><placeholder>Phone</placeholder><input type="tel" placeholder="Phone"></label>
        <label><placeholder>Email</placeholder><input type="email" placeholder="Email"></label>
        <label><placeholder>Web</placeholder><input type="url" placeholder="Web"></label>
        <label><placeholder>Position</placeholder><textarea placeholder="Position"></textarea></label>
        <button class="bgYellow">Button</button>
    </form>
</jsv-content>