<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="paddingFull10" id="content">
	<div id="interstitial">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

	    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</jsv-content>

<div id="interstitialContainer" class="interstitialContainer">
	<div id="Adsinterstitial" style="display:none">
		<div class="headerInterstitial">
			<a href="#">X</a> <h3> Header Interstitial </h3>
		</div>
		<div class="contentInterstitial">
			<img src=''/>
		</div>
		<div class="footerInterstitial">
			<div class="progres-bar-container"></div>
			<div class="wrapper"><b>footer Interstitial</b></div>
		</div>
	</div>
</div>