<jsv-header>
    <button-header-left onclick="$JSView.actionMenu()">M</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
    <jsv-list>
        <ul>
            <li class="divider cGrey strong">Examples initLoadMore</li-header>
            <li onclick="$JSView.goToView('viewListPhotosLoadMoreLocal')">List Photos Items Local JSON</li>
            <li onclick="$JSView.goToView('viewListPhotosLoadMoreRemote')">List Photos Items Remote JSON</li>
            <li onclick="$JSView.goToView('viewListVideosLoadMoreRemote')">List Videos Items Remote JSON</li>
        </ul>
    </jsv-list>
</jsv-content>