<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>

    <div class="row">
        <div class="col colDemo">.col</div>
        <div class="col colDemo">.col</div>
        <div class="col colDemo">.col</div>
        <div class="col colDemo">.col</div>
    </div>
    
    <div class="row">
        <div class="col colDemo">.col</div>
        <div class="col colDemo">.col</div>
    </div>
    
    <div class="row">
        <div class="col colDemo">.col</div>
    </div>
    
</jsv-content>