<jsv-header>
    <button-header-left onclick="$JSView.actionMenu()">M</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
    <jsv-list>
        <ul>
            <li class="divider cGrey strong">Examples templates</li-header>
            <li onclick="$JSView.goToView('viewGeneral')">General elements</li>
            <li onclick="$JSView.goToView('viewForms')">Forms elements</li>
            <li onclick="$JSView.goToView('viewFormsPlaceholder')">Forms elements placeholder</li>
            <li onclick="$JSView.goToView('viewGrids')">Grids</li>
            <li onclick="$JSView.goToView('viewSlide')">Slide</li>
            <li onclick="$JSView.goToView('viewSlideAdvertising')">Slide Advertising</li>
            <li onclick="$JSView.goToView('viewRoomChat')">Room chat</li>
            <li onclick="$JSView.goToView('viewTabs')">Tabs</li>
            <li onclick="$JSView.goToView('viewList')">List</li>
            <li onclick="$JSView.goToView('viewListPhotos')">List Photos</li>
            <li onclick="$JSView.goToView('viewListVideos')">List Videos</li>
            <li onclick="$JSView.goToView('viewTweets')">Tweets</li>
            <li onclick="$JSView.goToView('viewCards')">Cards</li>
            <li onclick="$JSView.openModal('modal')">Modal</li>
            <li onclick="$JSView.goToView('viewOptions')">Options</li>
            <li onclick="$JSView.goToView('viewNotification')">Notification</li>
            <li onclick="$JSView.goToView('viewCircle')">Circle</li>
            <li onclick="$JSView.goToView('viewImagePopup')">Image Popup</li>
        </ul>
    </jsv-list>
</jsv-content>