<jsv-header>
    <button-header-left onclick="$JSView.actionMenu()">M</button-header-left>
    {{title}}
    <button-header-right onclick="$JSView.openModal('modalA')">S</button-header-right>
</jsv-header>
<jsv-content class="paddingFull10">
    <h1>Title H1 Menu A</h1>
    <h2>Title H2 Menu A</h1>
    <h3>Title H3 Menu A</h1>
    <h4>Title H4 Menu A</h1>
    <h5>Title H5 Menu A</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    <button onclick="$JSView.goToView('viewA')" class="bgYellow">Go to View A</button>
</jsv-content>